sample_flow.json
[{"id":"3f14f20c.fb7bbe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a109e6db.b8be88","type":"msg-size","z":"3f14f20c.fb7bbe","name":"","frequency":"hour","interval":1,"statusContent":"tot","estimation":true,"ignore":false,"pauseAtStartup":false,"humanReadableStatus":true,"x":600,"y":360,"wires":[["ece14f4c.017e1"],[]]},{"id":"507a387e.18cea8","type":"inject","z":"3f14f20c.fb7bbe","name":"Sample JSON","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\":30.9,\"humidity\":25.5}","payloadType":"json","x":140,"y":360,"wires":[["a109e6db.b8be88","3b604b38.4749f4"]]},{"id":"ece14f4c.017e1","type":"debug","z":"3f14f20c.fb7bbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":400,"wires":[]},{"id":"3b604b38.4749f4","type":"debug","z":"3f14f20c.fb7bbe","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":420,"wires":[]}]