sample_flow.json
[{"id":"3f14f20c.fb7bbe","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"a109e6db.b8be88","type":"msg-size","z":"3f14f20c.fb7bbe","name":"Traffic per Day","frequency":"hour","interval":"24","statusContent":"tot","estimation":true,"ignore":false,"pauseAtStartup":false,"humanReadableStatus":true,"x":680,"y":60,"wires":[[],["3f287933.370c26"]]},{"id":"3f287933.370c26","type":"azureiotdevice","z":"3f14f20c.fb7bbe","deviceid":"DEVICEID","pnpModelid":"","connectiontype":"constr","authenticationmethod":"sas","iothub":"IOTHUB_HOSTNAME","isIotcentral":false,"scopeid":"","enrollmenttype":"","saskey":"DEVICE_PRIMARY_KEY","certname":"","keyname":"","protocol":"mqtt","methods":[{"name":"blink"}],"DPSpayload":"","gatewayHostname":"","caname":"","cert":"","key":"","ca":"","x":710,"y":180,"wires":[["3b324938.562456"]]},{"id":"3b324938.562456","type":"debug","z":"3f14f20c.fb7bbe","name":"Debug output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":180,"wires":[]},{"id":"d25d0bac.bc1648","type":"inject","z":"3f14f20c.fb7bbe","name":"Trigger telemetry","props":[{"p":"payload"}],"repeat":"6","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":60,"wires":[["222c0397.643f0c"]]},{"id":"222c0397.643f0c","type":"function","z":"3f14f20c.fb7bbe","name":"telemetry","func":"msg = {\n    'topic': 'telemetry',\n    'payload': {'humidity': Math.round(10000*Math.random())/100,\n        'temperature': 20 + (Math.round(2500*Math.random())/100),\n        'pressure': 850 + (Math.round(35000*Math.random())/100)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":60,"wires":[["a109e6db.b8be88"]]},{"id":"808701e4.11e2f","type":"comment","z":"3f14f20c.fb7bbe","name":"Source","info":"https://github.com/iotblackbelt/node-red-contrib-azure-iot-device/","x":770,"y":140,"wires":[]}]
